body {
  background-color: #1B1924;
  color: #FFF;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

#head-img {
  width: 6rem;
}

#endorsement-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.81rem;
}

li {
  list-style-type: none;
  color: #1B1924;
  background-color: #FFF;
}

#no-items {
  color: rgb(199, 89, 89);
}